.footer {
  background-color: black;
  color: #faf7f2;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  margin-top: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.footer-logo > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icon1,
.footer-icon2,
.footer-icon3 {
  max-width: 30px;
  height: auto;
}

.footer-logo p {
  font-family: "Barlow", cursive;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #ddd;
}

.footer-menu {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-menu h3 {
  font-family: "Barlow", cursive;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-menu p {
  margin: 0;
  font-family: "Barlow", cursive;
  font-size: 14px;
  line-height: 1.6;
}

.footer-instagram {
  flex: 1;
  min-width: 250px;
}

.footer-instagram h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Barlow", cursive;
}

.insta-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer a {
  text-decoration: none;
  color: #fdc913;
  font-weight: bold;
}

.footer a:hover {
  color: #fdc913;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .footer-logo,
  .footer-menu,
  .footer-instagram {
    align-items: center;
    text-align: center;
    flex: none;
    width: 100%;
  }

  .footer-logo > div {
    justify-content: center;
  }

  .footer-logo p {
    font-size: 12px;

    .footer-menu h3,
    .footer-instagram h3 {
      font-size: 16px;
    }

    .footer-menu p {
      font-size: 12px;
    }

    .insta-images {
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
    }

    .insta-images img {
      max-width: 100%;
      height: auto;
    }

    .footer-bottom {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
