.footer {
  background-color: black;
  color: #faf7f2;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  margin-top: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.footer-logo > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icon1,
.footer-icon2,
.footer-icon3 {
  max-width: 30px;
  height: auto;
}

.footer-logo p {
  font-family: "Barlow", cursive;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #ddd;
}

.footer-menu {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-menu h3 {
  font-family: "Barlow", cursive;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-menu p {
  margin: 0;
  font-family: "Barlow", cursive;
  font-size: 14px;
  line-height: 1.6;
}

.footer-instagram {
  flex: 1;
  min-width: 250px;
}

.footer-instagram h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Barlow", cursive;
}

.insta-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer a {
  text-decoration: none;
  color: #ff9900;
  font-weight: bold;
}

.footer a:hover {
  color: #e68900;
}
@media (max-width: 768px) {
}
