.home-container {
  background-image: url("/Assets/Iteration-1-assets/home-banner.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 25%;
}

.content {
  text-align: center;
  color: #faf7f2;
  max-width: 80%;
  width: 100%;
}
.fırsat {
  font-family: "Satisfy", cursive;
  color: #fdc913;
}
.title {
  color: #faf7f2;
  white-space: nowrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 80px;
  font-family: "Roboto Condensed", cursive;
  font-weight: lighter;
}

.title::before {
  content: "KOD ACIKTIRIR, \A PİZZA DOYURUR";
  white-space: pre-line;
  display: block;
}

.home-button {
  margin-top: 20px;
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Barlow", cursive;
  border: none;
  border-radius: 5rem;
  background-color: #fdc913;
  color: #292929;
  transition: all 0.3s ease;
}

.home-button:hover {
  background-color: #e0a800;
  color: black;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .home-container {
    padding-bottom: 50%;
  }
  .home-container h1 {
    font-size: 4rem;
  }

  .home-container h2 {
    font-size: 1.5rem;
  }

  .home-button {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  .home-container h1 {
    font-size: 3.5rem;
  }
}
