.navmenu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #faf7f2;
}

.navmenu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}

.navmenu-item {
  text-align: center;
}

.navmenu-link {
  text-decoration: none;
  color: #292929;
  font-size: 16px;
  display: flex;
  font-family: "Barlow", cursive;

  align-items: center;
  gap: 5px;
}

.navmenu-link:hover {
  color: #ff9900;
}

.navmenu-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .navmenu-container {
    padding: 10px;
  }

  .navmenu-list {
    gap: 25px;
  }

  .navmenu-icon {
    width: 30px;
    height: 30px;
  }

  .navmenu-link {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .navmenu-container {
    padding: 10px 20px 10px 20px;
  }
  .navmenu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }
  .navmenu-item {
    width: 40%;
  }
}
