h1,
h2 {
  text-align: center;
  color: #292929;
}

.order-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.bannerImg {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.size-crust-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.size-container,
.crust-container {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.size-container h2,
.crust-container h2 {
  margin-bottom: 15px;
}

.mats-container,
.nots-container,
.amount-container {
  width: 100%;
  margin-bottom: 30px;
}

.toppings-list {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 3 adet column oluşturulmasını sağlıyormuş*/
  gap: 10px;
}

.topping-item {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topping-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.topping-item .checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  background-color: #eee;
  border-radius: 4px;
}

.topping-item:hover input ~ .checkmark {
  background-color: #ccc;
}

.topping-item input:checked ~ .checkmark {
  background-color: #fdc913;
}

.topping-item .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.topping-item input:checked ~ .checkmark:after {
  display: block;
}

.topping-item .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.nots-container textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.amount-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.amount-container button {
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.amount-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.underline {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 25px;
}

.order-text {
  text-align: left;
}

.error {
  color: #ce2829;
  font-size: 16px;
  margin-top: 8px;
}

.priceText {
  font-size: 28px;
  color: black;
  margin-bottom: 15px;
}

.orderButton {
  background-color: #fdc913;
  color: #292929;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Barlow", cursive;
}

.orderButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
}

.price-box div {
  margin-bottom: 12px;
}

.toplamSiparis {
  color: #292929;
}

.Seçimler {
  color: #5f5f5f;
}

.Toplam {
  color: #ce2829;
}

.anasayfa {
  color: #333;
  cursor: pointer;
}

.siparis {
  color: #ce2829;
  font-weight: bold;
}

@media (max-width: 768px) {
  .order-container {
    width: 90%;
  }

  .size-crust-row {
    flex-direction: column;
    gap: 20px;
  }

  .size-container,
  .crust-container {
    width: 100%;
  }

  .price-box {
    width: 100%;
    padding: 15px;
  }

  .amount-container {
    gap: 10px;
  }

  .amount-container button {
    font-size: 20px;
    padding: 8px 15px;
  }

  .priceText {
    font-size: 20px;
  }

  .orderButton {
    font-size: 18px;
    padding: 8px 15px;
  }

  .orderInfo {
    margin-bottom: 10px;
  }

  .price-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .toppings-list {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 3 adet column oluşturulmasını sağlıyormuş*/
    gap: 10px;
  }
}
